name: C# - Publish to NuGet

on:
  push:
    branches: [main]
    paths:
      - "csharp/src/DeltaPack.csproj"
      - ".github/workflows/csharp-publish.yml"

jobs:
  publish:
    name: Build and publish to NuGet
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        working-directory: csharp
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Build TypeScript package
        run: cd ../typescript && npm ci && npm run build && npm link
      - name: Build and link CLI
        run: cd ../cli && bun install && npm link @hpx7/delta-pack && bun run build && npm link
      - name: Install protoc
        run: sudo apt-get install -y protobuf-compiler
      - name: Generate test code
        run: benchmarks/build.sh
      - name: Restore dependencies
        run: dotnet restore
      - name: Run tests
        run: dotnet test --verbosity normal
      - name: Pack
        run: dotnet pack src/DeltaPack.csproj -c Release --no-restore
      - name: Login to NuGet
        uses: nuget/login@v1
        id: nuget-login
        with:
          user: hpx77
      - name: Publish to NuGet
        run: dotnet nuget push src/bin/Release/*.nupkg --api-key "${{ steps.nuget-login.outputs.NUGET_API_KEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate

  docs:
    name: Publish docs to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: csharp
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
      - name: Restore DocFX tool
        run: dotnet tool restore
      - name: Generate docs
        run: dotnet docfx
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./csharp/_site
          destination_dir: csharp
          keep_files: true
